<div id="mutt-finder">
  <h1>Find a Mutt!</h1>
  <form action="/adoptables" method="POST">
    <input type="text" name="breed" placeholder="Breed">
    <input type="text" name="zip" placeholder="Your Zip Code">
    <input type="submit" value="Find">
  </form>
</div>