<h4>Pick a breed:</h4>
<form id="breed-form" action="/mutts/<%= @mutt.id %>/breeds" method="POST">
  <select name="breed_id">
    <% @breeds.each do |breed| %>
      <option value="<%= breed.id %>"><%= breed.name %></option>
    <% end %>
    <input type="submit" value="Guess">
  </select>
</form>