<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/session.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <div class="wrapper">
    <% if current_user %>
      <form class="log logout" action="/sessions/<%= current_user.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    <% end %>

    <a id="muttwhat" href="/"><h1>Mutt<span id="what">What</span></h1></a><br>

    <%= yield %>

  </div>
</body>
</html>
